:root {
    --primary: #E8E6DA;
    --primary-010: #f0eee2;;
  
    --secondary: #06628a;
    --secondary-010: #06374e;
    --secondary-020: #334427; //#05202c #303829

  
    --white: #fff;
    --white-010: #ffffffbe;
  
    --black: #10101a;
    --black-010: #2a2a30;
  
    --grey: #9b9ba0;
    --grey-010: #5c6e4f;
    --grey-back: #9A9A9A; //#9A9A9A

    --highlight: #bd2222;//#5c6e4f #E63427 #3b7280 #778C6C #b43131 #da574d #324f68c2
    
  }